{% extends 'base.html.twig' %}

{% block title %}Comment ça marche{% endblock %}

{% block body %}
	<div class="container-fluid how-it-work-cover text-center ">
		<h1 class="pt-lg-5">Comment ça marche</h1>
		<p>Modèles de lettre, envoi en recommandé, suivi en ligne</p>
	</div>
{% endblock %}
