{% extends 'base.html.twig' %}

{% block title %}Comment résilier
{% endblock %}

{% block body %}
	<div class="container-fluid home-fond text-beige {% if template == 'design2' %} bg-marbre-blanc {% else %} bg-color-primary {% endif %}">
		<div class="row homepage-element pt-5 pb-4">
			<div class="col-md-6 d-grid justify-content-center my-md-0 my-3 align-items-center">
				<div class="description-homepage text-night-blue fw-bold text-sm-start text-center">
					<h1 class="fw-bold">La résiliation facile en quelques clics</h1>
					<p class="h6">Modèles de lettre, envoi en recommandé, suivi en ligne</p>
				</div>
			</div>
			<div class="col-md-6 d-grid align-items-center">
				<div class="container-category border-green bg-gradient-green shadow-night-blue w-75">
					<h3 class="text-green-white">Liste des categories</h3>
					<div class="d-flex flex-column pt-2 pb-4">
						{% for category in categories %}
                        <div class="py-3">
							<a href="{{path('app_resiliation2_category', {slug:category.slug})}}" class="button btn-gradient-green">
                                {{category.name}}
							</a>
                        </div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
