{% extends 'base.html.twig' %}

{% block title %}Comment résilier{% endblock %}

{% block body %}
	<div class="container-fluid homepage-cover text-center ">
		<h1 class="pt-lg-5">La résiliation facile en quelques clics</h1>
		<p>Modèles de lettre, envoi en recommandé, suivi en ligne</p>
	</div>
{% endblock %}
