{% extends 'base.html.twig' %}

{% block title %}Comment résilier
{% endblock %}

{% block body %}
	<div class="container-fluid home-fond text-beige bg-color-primary">
		<div class="row homepage-element pt-5 pb-4">
			<div class="col-md-6 d-grid justify-content-center my-md-0 my-3 align-items-center">
				<div class="description-homepage text-beige text-sm-start text-center">
					<h1 class="">La résiliation facile en quelques clics</h1>
					<p>Modèles de lettre, envoi en recommandé, suivi en ligne</p>
				</div>
			</div>
			<div class="col-md-6 d-grid align-items-center">
				<div class="container-category bg-light">
					<h3>Liste des categories</h3>
					<div class="category-list d-grid my-3">
						{% for category in categories %}
							<a href="{{path('app_resiliation_category', {slug:category.slug})}}" class="my-2 text-decoration-none">
								<div class="category-item">
									<h5 class="text-gris">{{category.name}}</h5>
								</div>
							</a>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
