{% extends 'base.html.twig' %}

{% block title %}Résiliation facile{% endblock %}

{% block body %}
	<div class="container-fluid resiliation-facile-cover justify-content-center overflow-hidden bg-marbre-blanc">
		<div class="text-center text-night-blue">
			<h1 class="pt-lg-5">Résiliation facile</h1>
			<p>Modèles de lettre, envoi en recommandé, suivi en ligne</p>
		</div>
	</div>
{% endblock %}
