.btn-gradient-orange{
    --bs-btn-bg: #{$gradient-orange};
    --bs-btn-bg: #{$gradient-orange-webkit};
    --bs-btn-border: #{$orange};
    --bs-btn-color: #{$text-color-secondary};
    --bs-btn-bg-hover: #{$orange};
    --bs-btn-border-hover: #{$orange};
    --bs-btn-color-hover: #{$text-color-secondary};
    img{
        filter: $filter-grey;
    }
}

.btn-gradient-beige{
    --bs-btn-bg: #{$gradient-beige};
    --bs-btn-bg: #{$gradient-beige-webkit};
    --bs-btn-border: #{$beige};
    --bs-btn-color: #{$text-color-secondary};
    --bs-btn-bg-hover: #{$beige};
    --bs-btn-border-hover: #{$beige};
    --bs-btn-color-hover: #{$text-color-secondary};
}

.btn-gradient-primary{
    --bs-btn-bg: #{$gradient-primary};
    --bs-btn-bg: #{$gradient-primary-webkit};
    --bs-btn-border: #{$primary-color};
    --bs-btn-color: #{$beige};
    --bs-btn-bg-hover: #{$primary-color};
    --bs-btn-border-hover: #{$primary-color};
    --bs-btn-color-hover: #{$beige};
}

.accordion-button{
    cursor: pointer;
}

.accordion-primary{
    font-size: 20px;
    color: $beige;
    background: $primary-color;
    background: $gradient-primary;
    background: $gradient-primary-webkit;
    &::after{
        filter: $filter-beige;
    }
    &:not(.collapsed),
    &:hover,
    &:focus,
    &:focus-visible{
        color: $beige;
        box-shadow: none;
        border: 0;
    }
    @include sm-layout{
        font-size: 16px;
    }
}

.button{
    cursor: pointer;
    font-size: 20px;
    line-height: 1.5;
    padding: 8px 24px;
    border-radius: 24px;
    border: 1px solid;
    text-decoration: none;
    background: var(--bs-btn-bg);
    color: var(--bs-btn-color)!important;
    border-color: var(--bs-btn-border);
    &:hover,
    &:active,
    &:focus,
    &:focus-visible{
        background: var(--bs-btn-bg-hover);
        color: var(--bs-btn-color-hover)!important;
        border-color: var(--bs-btn-border-hover);
        box-shadow: 0 0 10px 1px rgb(83, 83, 83);
        padding: 9px 26px;
        margin: -1px -2px;
        @include lg-layout {
            padding: 8px 22px;
        }
    }
    @include lg-layout {
        font-size: 16px;
        padding: 7px 20px;
    }
    @include sm-layout{
        padding: 5px 10px;
    }
}

.button-small{
    cursor: pointer;
    font-size: 16px;
    line-height: 1.2;
    padding: 6px 16px;
    border-radius: 5px;
    border: 1px solid;
    text-decoration: none;
    background: var(--bs-btn-bg);
    color: var(--bs-btn-color)!important;
    border-color: var(--bs-btn-border);
    &:hover,
    &:active,
    &:focus,
    &:focus-visible{
        background: var(--bs-btn-bg-hover);
        color: var(--bs-btn-color-hover)!important;
        border-color: var(--bs-btn-border-hover);
        box-shadow: 0 0 10px 1px rgb(83, 83, 83);
        padding: 6px 17px;
        margin: -1px;
    }
    @include sm-layout{
        padding: 5px 10px;
    }
}

.navbar-toggler{
    &>img{
        height: 35px;
        width: 45px;
        filter: $filter-beige;
    }
    @include padding-border-outline-none;
    &:focus{
        @include shadow-none;
    }
}