nav img{
    width: 200px;
}
// modif header

.navbar{
    position: fixed;
    width: 100%;
    --bs-bg-opacity: .2;
    &>.container-fluid{
        justify-content: space-around;
    }
}

.navbar-collapse{
    flex-grow: revert;
    .nav-link{
        color: whitesmoke;
        font-size: 1rem;
        font-weight: 500;
        &:hover{
            color: $blue;
        }
        &.active{
            color: $blue;
        }
    }
}
