body{
    background-image: url("../../public/assets/images/homepage-cover-full.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    &::-webkit-scrollbar{
        width: 0;
    }
}
.homepage-element{ 
    &>.col-md-6{
        height: calc(100vh - 72px);
        @include md-layout{
            height: auto;
            min-height: 50%;
        }
    }
}
.description-homepage{
    max-width: 24rem;
}
.body-template{
    &>.container-fluid{
        height: 100vh;
        overflow-y: scroll;
        display: grid;
        align-items: center;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            width: 0px;
        }
    }
}
.container-category{
    justify-self: end;
    justify-content: center;
    width: 90%;
    margin-right: 10%;
    --bs-bg-opacity: .2;
    text-align: center;
    border-radius: 5px;
    .category-list{
        max-height: 15rem;
        overflow-y: scroll;
        /* width */
        &::-webkit-scrollbar {
            width: 0px;
        }
        scrollbar-width: none;
    }
    .category-item{
        text-decoration: none;
        color: white;
        background: $gradient-orange;
        background: $gradient-orange-webkit;
        padding: .2rem;
    }
    @include md-layout{
        max-width: 324px;
        margin-inline: auto;
    }
}
.container-form-login{
    max-width: 600px;
    min-width: 500px;
    border-radius: .4rem;
    margin-right: 2rem;
    padding: 24px;
    .user-field{
        margin-bottom: 16px;
        label{
            margin-bottom: 0;
        }
    }
    .connexion-gestion{
        .checkbox{
            margin-bottom: 16px;
        }
    }
    @include sm-height{
        padding: 12px 24px;
        transform: translateY(30px);
        .user-field{
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            font-size: 13px;
            .form-control{
                max-width: 360px;
            }
        }
        .connexion-gestion{
            display: flex;
            justify-content: space-between;
            font-size: 13px;
            .checkbox{
                margin-bottom: 0;
            }
        }
    }
    @include md-layout{
        margin-right: 0;
    }
    @include sm-layout{
        width: calc(100vw - 75px);
        min-width: 0;
        padding: 16px;
    }
    @include xs-layout{
        width: calc(100vw - 24px);
        padding: 12px;
    }
}
.resiliation-facile-cover, .how-it-work-cover{
    &>div{
        width: fit-content;
        &>.d-flex{
            .button{
                @include sm-layout{
                    width: 250px;
                }
            }
        }
    }
    .collapse {
        border-radius: 5px;
    }
}
.text-beige{
    color: $beige;
}
.text-gris{
    color: $text-color-secondary;
}
.border-color-primary{
    border-color: $primary-color;
}
.bg-gradient-beige{
    @include bg-gradient(45deg, white, $beigeBe);
}
.bg-color-primary{
    background: #1d1d5ecc;
}
.max-width-content{
    max-width: 800px;
    @include lg-layout{
        width: 80%;
    }
    @include md-layout{
        width: 85%;
    }
    @include sm-layout{
        width: 90%;
    }
}