/*.homepage-cover{
    color: white;
    height: 400px;
    background-color: #6DB3F2;
    background-image: url(../../public/assets/images/homepage-cover-full.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}*/
body{
    background-image: url("../../public/assets/images/homepage-cover-full.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    &::-webkit-scrollbar{
        width: 0;
    }
    .body-template{
        &>.container-fluid{
            background: #1d1d5ecc;
        }
    }
}
/*.home-fond{
    display: grid;
    align-items: center;
}*/
.description-homepage{
    max-width: 24rem;
}
.container-category{
    justify-self: end;
    justify-content: center;
    width: 25rem;
    margin-right: 10%;
    --bs-bg-opacity: .2;
    //background: linear-gradient(-90deg, rgba(255,255,255,.2), rgba(10, 10, 90, 0.2));
    text-align: center;
    border-radius: 5px;
    .category-list{
        max-height: 15rem;
        overflow-y: scroll;
        /* width */
        &::-webkit-scrollbar {
            width: 0px;
        }
        scrollbar-width: none;
    }
    .category-item{
        text-decoration: none;
        color: white;
        //background: linear-gradient(45deg, rgba(255,255,255,.2), rgba(11, 11, 138, 0.6), rgba(255,255,255,.2));
        background: $gradient-orange;
        background: $gradient-orange-webkit;
        padding: .2rem;
    }
}
.container-form-login{
    max-width: 600px;
    min-width: 500px;
    border-radius: .4rem;
    margin-right: 2rem;
}
.resiliation-facile-cover, .how-it-work-cover{
    //margin-top: 100px;
    color: white;
    &>div{
        max-width: 25rem;
    }
}
.text-beige{
    color: $beige;
}
.text-gris{
    color: $text-color-secondary;
}