.text-grey{
    color: #aaa;
}
.recap-title{
    margin-bottom: 16px;
}
.wizard{
    .content{
        &.recap{
            --recap-height : calc(100vh - 151px);
            min-height: var(--recap-height)!important;
            width: 80%;
            margin: auto;
            @include sm-height {
                --recap-height : calc(100vh - 123px);
                min-height: var(--recap-height)!important;
            }
            &>.d-flex{
                height: var(--recap-height);
            }
            .button-container{
                --recap-basis : 50%;
                min-width: var(--recap-basis);
                @include lg-layout {
                    --recap-basis : 300px;
                }
                @include md-layout {
                    --recap-basis : 200px;
                }
                @include sm-layout {
                    --recap-basis : 100%;
                }
            }
            .letter-container{
                --recap-basis : 50%;
                width: calc(100% - var(--recap-basis));
                height: 100%;
                @include lg-layout {
                    --recap-basis : 300px;
                }
                @include md-layout {
                    --recap-basis : 200px;
                }
                .letter{
                    $letter-height : 1123px;
                    $scale: 0.37;
                    $letter-height-scale: $letter-height * $scale;
                    $scale-top: calc(($letter-height - $letter-height-scale) / 2);
                    $rest-top: calc((var(--recap-height) - $letter-height-scale) / 2);
                    scale: $scale;
                    margin-top: calc($rest-top - $scale-top);
                    @include md-layout {
                        $scale: 0.25;
                        $letter-height-scale: $letter-height * $scale;
                        $scale-top: calc(($letter-height - $letter-height-scale) / 2);
                        $rest-top: calc((var(--recap-height) - $letter-height-scale) / 2);
                        scale: $scale;
                        margin-top: calc($rest-top - $scale-top);
                    }
                    @include sm-height {
                        $scale: 0.25;
                        $letter-height-scale: $letter-height * $scale;
                        $scale-top: calc(($letter-height - $letter-height-scale) / 2);
                        $rest-top: calc((var(--recap-height) - $letter-height-scale) / 2);
                        scale: $scale;
                        margin-top: calc($rest-top - $scale-top);
                    }
                }
            }
        }
    }
}