$blue : #00c9ffed;
$blue-hover : #00a7e7;
$black : #101010;
$primary-color: #1d1d5ecc;
$text-color-secondary : #808080;
$beige : #fff7db;
$orange : #ffc400;
$beigeBe : #FFEFBA;
$dark-blue : #003062;

$gradient-beige : linear-gradient(45deg, white, $beigeBe);
$gradient-beige-webkit : -webkit-linear-gradient(45deg, white, $beigeBe);
$gradient-orange : linear-gradient(-45deg, $beigeBe, $orange);
$gradient-orange-webkit : -webkit-linear-gradient(-45deg, $beigeBe, $orange);
$gradient-primary : linear-gradient(45deg, #aaa, $primary-color);
$gradient-primary-webkit : -webkit-linear-gradient(45deg, #aaa, $primary-color);

$filter-beige : invert(98%) sepia(98%) saturate(708%) hue-rotate(309deg) brightness(104%) contrast(105%);
$filter-grey : invert(49%) sepia(6%) saturate(33%) hue-rotate(328deg) brightness(102%) contrast(81%);

$border-form-active : #ccc;
