$blue : #00c9ffed;
$blue-hover : #00a7e7;
$black : #101010;
$text-color-secondary : #808080;
$beige : #fff7db;
$orange : #ffc400;
$beigeBe : #FFEFBA;
$gradient-beige : linear-gradient(45deg, #FFFFFF, #FFEFBA);
$gradient-beige-webkit : -webkit-linear-gradient(45deg, #FFFFFF, #FFEFBA);
$gradient-orange : linear-gradient(-45deg, #FFEFBA, #ffc400);
$gradient-orange-webkit : -webkit-linear-gradient(-45deg, #FFEFBA, #ffc400);