{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<style>
    .container-payment{
        width: 500px;
        height: 400px;
        border-radius: 5px;
    }
    img[alt="payment-response"]{
        height: 100px;
    }
    .filter-success{
        filter: invert(22%) sepia(96%) saturate(2069%) hue-rotate(109deg) brightness(96%) contrast(106%);
    }
    .filter-fail{
        filter: invert(9%) sepia(72%) saturate(6870%) hue-rotate(358deg) brightness(98%) contrast(102%);
    }
    h3{
        font-family : 'Comfortaa' , sans-serif ;  
        margin-inline: 80px; 
    }
</style>
<div class="container-fluid home-fond text-night-blue bg-marbre-blanc justify-content-center">
    <div class="container-payment {% if state == 'paid' %} bg-gradient-green {% elseif state == 'fail' %} bg-error {% endif %}d-flex flex-column justify-content-center align-items-center text-green-white">
        {% if state == 'paid' %}
            <img src="{{asset('assets/images/success.png')}}" class="filter-success" alt="payment-response">
            <h3 class="text-center">
                Merci d'avoir choisi notre service.
            </h3>
        {% elseif state == 'fail' %}
            <img src="{{asset('assets/images/fail.png')}}" class="filter-fail" alt="payment-response">
            <h3 class="text-center">
                Le payment a echoué, veuiller réessayer.
            </h3>
        {% endif %}
        
    </div>
</div>
{% endblock %}
